body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

.content-wrapper {
  width: 1054px;
  margin: 20px auto 0;
}

.right-content {
  position: relative;
  float: right;
  width: 840px;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 1px #aaa;
}

.setting-container {
  overflow: hidden;
  padding: 20px 0px 10px 10px;
  width: 300px;
}

.setting-container a {
  width: 90px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #3cc0ee;
  text-align: center;
  color: #fff;
  display: block;
  position: relative;
  left: 50%;
  margin-left: -45px;
  cursor: pointer;
}

.setting-container h3 {
  text-align: center;
}

.password-item {
  overflow: hidden;
  margin: 20px 0px;
}

.password-item span {
  float: left;
}

.password-item input {
  float: left;
  margin-left: 20px;
  width: 150px;
  border: 1px solid #aaa;
  height: 20px;
}